<script setup>
  import cards from './cards.json'
  import { ref, computed } from 'vue'

  const current = ref(0)

  const imageUri = computed(() => cards[current.value].image)
</script>

<template>
  <div>
    <select name="" id="" v-model="current">
      <option :value="cardIndex" v-for="(card, cardIndex) in cards"
        :v-key="`card-${cardIndex}`"
      >{{ card.collectorNumber }}</option>
    </select>
  </div>
  <div>
    <img :src="imageUri" alt="">
  </div>
</template>

<style scoped></style>
